body {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.5rem;
  color: #333333;
}

h3 {
  text-align: center;
  font-size: 3rem;
  
  color: #f555e7;
}
p {
  font-size: 1.5rem;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
}