<%- include('partials/header', { title: 'Ben's Game Store' }) %>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Ben's Game Store - 33862214 - Ben Leahy</h2>
    <a href="/students/add" class="btn btn-success">+ Add New Student</a>
    <a href="/students/add" class="btn btn-success">+ Add New Student</a>
</div>


<%- include('partials/footer') %>