<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POMS app: <%= title %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Home Page</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/parcel/view-all">View all parcels</a>
                <a class="nav-link" href="/parcel/add">Add Parcel</a>
                <a class="nav-link" href="/parcel/update">Update Parcel</a>
                <a class="nav-link" href="/parcel/delete">Delete Parcel</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">