<html>
	<head>
        <h1>All Rentals</h1>
        <body>Ben Leahy 33862214</body> <br />
		<a href="/">Home</a> <br /> <br />
	</head>

    <div class="container m-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Rental ID</th>
                    <th>Book Title</th>
                    <th>Renter's Name</th>
                    <th>Days rented</th>
                </tr>
            </thead>
            <tbody>
                <% rentals.forEach(rental=> { %>
                    <tr>
                        <!-- Use < %= to output escaped data (safe from XSS) -->
                        <!-- Each student object has name, age, and address properties -->
                        <td><%= rental.id %></td>
                        <td><%= rental.bookTitle %></td>
                        <td><%= rental.renterName %></td>
                        <td><%= rental.rentalDays %></td>
                    <tr>
                <% }) %>
            </tbody>
        </table>
	</div>

</html>