<html>
	<head>
        <h1>Return Book</h1>
        <body>Ben Leahy 33862214</body> <br />
		<a href="/">Home</a> <br /> <br />
	</head>

    <body>
        <form action="/ben/rentals/return" method="POST">
            <table>
                <tr>
                    <td> <label>Rental ID</label></td>
                    <td> <input type="text" name="id" /></td>
                </tr>
                <tr>
                    <td> <button>Submit</button></label></td>
                </tr>
            </table> 
        </form>
    </body>

</html>