<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ben's Petstore</title>
</head>
<body>
    <h1>Ben Leahy - 33862214</h1>
    <p><a href="/ben/petstore/update?id=11&species=Dog"> Update Pet Species </a> </p>
    <p><a href="/ben/petstore/add?petName=Fluffy&petPrice=299&petSpecies=Cat"> Add Pet </a> </p>
    <p><a href="/ben/petstore/remove/:1"> Delete Pet </a> </p>
    <p><a href="/ben/petstore/report/:dog"> Species Report Pet </a> </p>
    <p><a href="/ben/petstore/"> Get Pets </a> </p>
</body>
</html>